* {
    margin: auto;
    padding: 1em;
}

body {
    background-image: url("./assets/space.jpg");
}
h1 {
    color: white;
}
.portal {
    width: 400px;
    height: 475px;
    display: block;
}
h2 {
    color: white;
}
.portal-img {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
#ricks {
    display: block;
    width: 200px;
    position: absolute;
    top: 220px;
    left: 670px;
}
#mortys {
    display: block;
    width: 250px;
    position: absolute;
    top: 290px;
    left: 875px;
}
.banner img {
    display: block;
    justify-content: center;
    height: 250px;
}

/* Table styling */
table {
    border: 1.5px solid green;
}

td {
    background-color: #14c9e0;
    width: 65px;
    height: 65px;
    text-align: center;
}

.noPieceHere {
    background-color: black;
}



/* Styling for the chessboard from code.js
.checkersBoard {
    border: 1.5px solid green;
}
.cell {
    height: 90px;
    width: 60px;
    border: 1.5px solid gray;
    border-style: inset;
}
.blackcell {
    background-color: black;
}
.bluecell {
    background-color: #14c9e0;
}



/* Styling for Wubbah lubbah dub dub at the bottom of page */
#funnyPhrase {
    text-align: center;
}

#rickHead {
    width: 60px;
}
#mortyHead {
    width: 60px;
} */