* {
    margin: auto;
    padding: .75em;
}
body {
    background-image: url("./assets/space.jpg");
    font-family: sans-serif;
}
.top {
    display: block;
}
.banner img {
    display: block;
    height: 250px;
}
.portal {
    width: 400px;
    height: 475px;
}
h2 {
    color: white;
}
.portal-img {
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
}


/* Table styling */
table {
    border: 1.5px solid green;
}

td {
    background-color: black;
    width: 80px;
    height: 75px;
    text-align: center;
    /* border: 1px solid white; */
}

.noPieceHere {
    background-color: #14c9e0;
}

.mortyHeadPiece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.rickHeadPiece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;

}

.kingMortyHead {
    width: 60px;
    background-color: purple;
}

.kingRickHead {
    width: 60px;
    background-color: yellowgreen;
}

p {
    display: inline-block;
}

span {
    display: inline-block;
}

.whoesTurn {
    margin: 0;
    width: 100%;
}

.rickTurnText {
    text-align: center;
    color: yellow;
    font-size: 55px;
}

.mortyTurnText {
    text-align: center;
    color: lightgray;
    font-size: 55px;
  
}



/* Styling for Wubbah lubbah dub dub at the bottom of page */
#funnyPhrase {
    text-align: center;
}

