* {
    margin: auto;
    padding: 1em;
}

body {
    background-image: url("./assets/space.jpg");
}
h1 {
    color: white;
}
.portal {
    width: 400px;
    height: 475px;
    display: block;
}
h2 {
    color: white;
}
.portal-img {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}
.banner img {
    display: block;
    justify-content: center;
    height: 250px;
}

/* Table styling */
table {
    border: 1.5px solid green;
}

td {
    background-color: black;
    width: 80px;
    height: 70px;
    text-align: center;
    border: 1px solid white;
}

.noPieceHere {
    background-color: #14c9e0;
}

.mortyHeadPiece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.rickHeadPiece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;

}

.kingMortyHead {
    width: 60px;
    background-color: purple;
}

.kingRickHead {
    width: 60px;
    background-color: yellowgreen;
}

.whoesTurn {
    text-align: center;
    display: inline-flex;
}

.whoesTurn  p {
    color: white;
}

.mortyTurnText {
    color: white
}

.rickTurnText {
    color: gray;
}

#mortyHead {
    width: 60px;
    height: 65px;
}
 #rickHead {
     width: 60px;
     height: 65px;
 }


/* Styling for the chessboard from code.js
.checkersBoard {
    border: 1.5px solid green;
}
.cell {
    height: 90px;
    width: 60px;
    border: 1.5px solid gray;
    border-style: inset;
}
.blackcell {
    background-color: black;
}
.bluecell {
    background-color: #14c9e0;
}



/* Styling for Wubbah lubbah dub dub at the bottom of page */
#funnyPhrase {
    text-align: center;
}

